Package: countfiles
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Danylo <danylomotsar@gmail.com>
Description: Script that counts files in /etc
 Simple script for counting files inside /etc directory.

