name: Build RPM and DEB

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-packages:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install build tools
      run: |
        sudo apt update
        sudo apt install -y rpm dpkg-dev

    - name: Build DEB
      run: |
        dpkg-deb --build debbuild/countfiles
        ls -l debbuild

    - name: Build RPM
      run: |
        rpmbuild -bb rpmbuild/SPECS/count_etc_files.spec
        ls -l rpmbuild/RPMS

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages
        path: |
          debbuild/*.deb
          rpmbuild/RPMS/**/*.rpm
