name: Pipeline

on:
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build DEB
        run: |
          cd debbuild
          chmod +x countfiles/usr/local/bin/count_etc_files
          dpkg-deb --build countfiles
          mv countfiles.deb count_etc_files.deb

    # Prepare RPM build tree
      - name: Prepare RPM sources
        run: |
          mkdir -p ~/rpmbuild/SOURCES
          mkdir -p ~/rpmbuild/SPECS
          # копируем spec и скрипт из репозитория в системный rpmbuild
          cp rpmbuild/SPECS/count_etc_files.spec ~/rpmbuild/SPECS/
          cp rpmbuild/SOURCES/count_etc_files.sh ~/rpmbuild/SOURCES/

      - name: Run in Debian Docker
        run: |
          docker run --rm -v ${{ github.workspace }}:/mnt debian:latest bash -c "
            apt-get update &&
            apt-get install -y /mnt/debbuild/count_etc_files.deb &&
            /usr/local/bin/count_etc_files
          "

      - name: Run in CentOS Docker
        run: |
          docker run --rm -v ${{ github.workspace }}:/mnt centos:7 bash -c "
            yum install -y /mnt/rpmbuild/RPMS/noarch/*.rpm &&
            /usr/local/bin/count_etc_files
          "
